<div class="container">
    <div class="row mt-5">
      <div class="col text-center">
        <h2>Challenge de <span class="fw-semibold">Moises Herrera</span></h2> 
      </div>
    </div>
    <div class="row">
      <div class="col-12 my-3 d-flex justify-content-center">
        <button class="btn btn-lg btn-primary" style="width: 200px" routerLink="firstChallenge">
          Primer Ejercicio
        </button>
      </div>
      <div class="col-12 my-3 d-flex justify-content-center">
        <button class="btn btn-lg btn-success" style="width: 200px" routerLink="secondChallenge">
          Segundo Ejercicio
        </button>
      </div>
    </div>
</div>